<!doctype HTML>
<html>
<head>
    {% block stylesheets %}
        {% stylesheets 'bundles/app/Styles.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>