<!doctype HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        {% stylesheets '@AppBundle/Resources/Public/Styles.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>