{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="default">Kategorijos</h2>
<div id="categories">
    <div id="leftPane">
        <ul id="categoryList" class="default">
            {% for category in categories|sortbyfield('categoryName') %}
                <li data-slug="{{ category.slug }}">
                    {{ category.categoryName }}
                </li>
            {% endfor %}
        </ul>

       {# {% if selectedCategory is not null %}
            <ul id="questionList">
                {% for question in questions %}
                    {% if selectedQuestion.slug is defined and selectedQuestion.slug == question.slug%}
                        <li class="active">
                            <div>{{ selectedQuestion.answer }}</div>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('faq_index', { 'categorySlug': selectedCategory.slug, 'questionSlug': question.slug }) }}"></a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}#}

    </div>

    <div id="middlePane"></div>

</div>

{% endblock body %}

{% block javascripts %}

    <script>

        $(document).ready(function () {

            var splitter = $('#categories').height(840).split({
                orientation: 'vertical',
                limit: 200,
                position: '20%',
                percent: true
            });

            $('#categoryList li')
                .on('click',
                    function () {
                        var categorySlug = $(this).data('slug');
                    $('#middlePane').load('http://helper/category/'+categorySlug);
                });

        });
    </script>
{% endblock %}
