#questionList{
    padding-left: 50px;
}

#questionName{
    padding-left: 50px;
    margin: 0;
}

#selectedAnswer{
    max-width: 100%;
    word-wrap: break-spaces;
    padding-left: 50px;
}

#categoryName{
    padding-left: 50px;
}

#fos_user_registration_form_email{
    margin-left: 101px;
}

#fos_user_registration_form_username{
    margin-left: 49px;
}
#fos_user_registration_form_plainPassword_first{
    margin-left: 84px;
}
#fos_user_registration_form_plainPassword_second{
    margin-left: 10px;
}

.default{
    cursor: default;
}

.pointer{
    cursor: pointer;
}