#questionList{
    padding-left: 50px;
}

#questionName{
    padding-left: 50px;
    margin: 0;
}

#selectedAnswer{
    max-width: 100%;
    color: red;
    word-wrap: break-spaces;
    padding-left: 50px;
}

#categoryName{
    padding-left: 50px;
}